.event-card {
  display: block;
  background-color: map-get($COLORS, bg3);
  padding: $padding-lg;
  margin-block: $base-margin;
  border: $base-border-thickness solid map-get($COLORS, bg2);

  .event-title {
    margin-top: 0;
    font-size: $font-size-lg;
    font-weight: $font-weight-heavy;
    text-decoration: none;
    color: map-get($COLORS, primaryText);
  }

  .event-description {
    margin-bottom: 0;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
  }
}

.card-container {
  width: 100%;
}

.event-creator {
  padding-inline: $base-padding;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: $font-weight-heavy;
  margin-bottom: $margin-lg;
}

.event-desc-card {
  padding: $padding-lg;
  display: flex;
  flex-direction: column;
  gap: $base-margin;
  background-color: map-get($COLORS, bg2);
  margin-bottom: $margin-lg;

  &-title {
    font-weight: $font-weight-heavy;
  }

  .event-blocks {
    display: flex;
    flex-direction: column;
    gap: $base-margin;
    .event-shift {
      color: map-get($COLORS, primaryText);
      .event-signup {
        margin-left: $base-margin;
      }
    }
  }
  .event-availability {
    display: flex;
    flex-direction: column;
  }
}

.shift-input {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
